.movie-container
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ae9e9e;
  padding: 20px 0;


}

.newmovie-list {
  display: flex;
  align-items: end;
  gap: 20px;
  height: 100vh; 
  padding: 20px 0;
  overflow-x: auto; 
  background-color: #f0f0f0;
  white-space: nowrap; /* Evita el wrap de los elementos */
}

.newmovie-item {
  display: inline-block; /* Mantiene los elementos en línea */
  flex: 0 0 auto;

  width: 150px; /* Ajuste de ancho para móviles */
  margin-right: 20px;
  transition: transform 0.3s;
}

.newmovie-item img {
  width: 50%; /* Ancho completo para que sea responsive */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, z-index 0.3s;
}

.newmovie-item img:hover {
  transform: scale(1.3); 
  z-index: 1;
}

.newmovie-item .movie-title {
  font-size: 1em; 
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  /* Estilos para tabletas y pantallas medianas */
  .newmovie-item {
    width: 200px; /* Aumenta el ancho en pantallas más grandes */
  }
  
  .newmovie-item img:hover {
    transform: scale(1.5); /* Mayor escala en pantallas más grandes */
  }
}

@media (min-width: 1024px) {
  /* Estilos para pantallas grandes */
  .newmovie-item {
    width: 250px; /* Aumenta aún más el ancho en pantallas grandes */
  }
}
