
.movie-list-container {
    padding: 0px;
    background-color: #000000; /* Azul */
   
  }
  

  .coming-soon-section {
    padding: 20px;
    margin-top: 20px;
  }
  .currently-playing{
    padding: 20px;
  
    margin-top: 20px;
  }
  .currently-playing h2{
    display: flex;
    justify-self: start;
   
  
    margin: 10px 0;
    color: #000;
  }
  
  .coming-soon-section h2 {
    display: flex;
    justify-self: start;

  
    margin: 10px 0;
    color: #000;
  }
  
  .coming-soon-list {
    display: flex;
    overflow-x: auto;
  }
  

  .movie-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .movie-list-container, .coming-soon-section {
      padding: 10px;
    }
  
    .coming-soon-section h2 {
      font-size: 1.5em;
    }
  
    .movie-footer {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .coming-soon-section h2 {
      font-size: 1.2em;
    }
  
    .movie-footer {
      padding: 10px;
    }
  }
  